<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361062519779-4dctnt229jk9iq87gsn2u89e6bnu54ap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361062519779-4dctnt229jk9iq87gsn2u89e6bnu54ap</string>
	<key>API_KEY</key>
	<string>AIzaSyAtYSyVI-SQN8cCHlUV3olokvw68aC-1zc</string>
	<key>GCM_SENDER_ID</key>
	<string>361062519779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.androidhuman.class101.stickynotes</string>
	<key>PROJECT_ID</key>
	<string>androidhuman-c101-stickynotes</string>
	<key>STORAGE_BUCKET</key>
	<string>androidhuman-c101-stickynotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361062519779:ios:1700f5e954db2bba86c6d6</string>
</dict>
</plist>